@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

:root {
  --very-dark-grayish-blue: #48556a;
  --desaturated-dark-blue: #6d7f97;
  --grayish-blue: #9eafc2;
  --light-grayish-blue: #ecf2f8;
  --white: #fff;
}

body {
  background-color: var(--light-grayish-blue);
}

.card {
  width: 327px;
  margin: auto;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 40px 40px -10px #c9d5e180;
  border-radius: 10px;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.article-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.article-image {
  height: 200px;
  object-fit: cover;
}

.avatar {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

/* Typography */

.body,
.heading,
.action {
  font-family: "Manrope";
  font-style: normal;
}

.heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--very-dark-grayish-blue);
}

.body,
.action {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.body {
  letter-spacing: 0.121875px;
  color: var(--desaturated-dark-blue);
}

.action {
  letter-spacing: 5px;
  color: var(--grayish-blue);
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}

.attribution a {
  color: #3e52a3;
}
